/* Footer Component */  
.footer-bar {
	min-height: 5dvh;
	height: 5dvh;
	background-color: #ff6969; /* Netflix-like dark background */
	color: #000000; /* Light text for contrast */
	text-align: center;
	font-family: 'Roboto', sans-serif;
	border-top: 1px solid #333; /* Subtle border for separation */
	display: flex;
	width: 100%;
	justify-content: space-between;
  }
  
  .footer-bar p {

	margin: 5px 0;
	font-size: 0.9rem;
  }
  
  .footer-bar h1 {
	font-size: 0.5rem;
	font-weight: bold;
	color: rgb(0, 0, 0);
  }
  
  .footer-bar .disclaimers p {
	font-size: 0.6rem;
	color: rgb(0, 0, 0); /* Lighter color for disclaimer text */
	line-height: 0.7;
  }
  
  
  /* Responsive Styling */
  @media (max-width: 768px) {
	.footer-bar h1 {
	  font-size: 0.5rem;
	}
  
	.footer-bar p,
	.footer-bar .disclaimers p {
	  font-size: 0.4rem;
	}
  }

  @media (max-height: 768px) {
	.footer-bar h1 {
	  font-size: 0.5rem;
	}
  
	.footer-bar p,
	.footer-bar .disclaimers p {
	  font-size: 0.4rem;
	}
  }
  