/* NavBar Component */  
.navbar {
	height: 5dvh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #141414; /* Netflix-like dark theme */
	border-bottom: 1px solid #333; /* Subtle border for separation */
	font-family: 'Roboto', sans-serif;
  }
  
  .logo {
	font-size: 1.8rem; /* Bold and large for prominence */
	font-weight: bold;
	color: #e50914; /* Netflix red */
	cursor: pointer; /* Pointer cursor on hover */
	transition: color 0.3s ease; /* Smooth transition effect */
	margin-left: 1rem;
  }
  
  .logo:hover {
	color: #ff6161; /* Slightly lighter red on hover */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
	.navbar {
	  padding: 10px;
	}
  
	.logo {
	  font-size: 1.5rem; /* Adjust size for smaller screens */
	}
  }
  